# Specify your credentials accordingly
[AZURE]
CONTAINER_NAME = spark-job-dev
SINK_CONTAINER_NAME = spark-data-sink
STORAGE_ACCOUNT_NAME = nlpsparkdev
ACCOUNT_ACCESS_KEY =  update_with_access_key


# specify the table name and file name accordingly
[STORAGE]
TABLE_NAME             = docai-delta-table
#AZURE_10K_FILINGS_DATA = 10k_sample.csv
AZURE_10K_FILINGS_DATA = heart.csv
